html,
body {
  margin: 0;
}

body {
  background-color: #0c0c0c;
  /*background-color: #000000;*/
  font-family: 'Raleway', sans-serif;
}

#header {
  background-color: #0c0c0c;
  height: 100vh;
  z-index: -5
}

#main-title {
  font-size: 48px;
  margin: 15vh auto 10vh;
  text-align: center;
}

.montu-logo {
  position: absolute;
  top: 25vh;
  left: 50%;
  margin-left: -150px;
  width: 300px;
}

#main-menu {
  /*border-radius: 200px;*/
  /*margin-left: -155px;*/
  background: #0c0c0c;
  display: flex;
  height: 50px;
  justify-content: center;
  margin: 0 auto;
  position: fixed;
  top: 0px;
  transition-duration: .5s;
  width: 100%;
  /*left: 5%;*/
}

.menu-links {
  color: #FFFFFF;
  /*font-family: 'Titillium Web', sans-serif;*/
  padding: 15px 7.5%;
  text-decoration: none;
}

.menu-links:hover {
  color: #AAAAAA;
  transition-duration: 0.25s;
}

#main-menu-social {
  display: none;
}

h2 {
  color: #FFFFFF;
  margin: 0;
  padding: 50px 0 50px;
  background-color: #0c0c0c;
  font-weight: 200;
  font-size: 36px;
  text-align: center;
  width: 100%;
}

#tour {
  background-image: url("images/crowdgood.jpg");
  height: 850px;
  margin: 0;
}

/*.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -10;
}

.fullscreen-bg__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}*/

#tour-date-container {
  margin: 0 5% 100px;
}

#bio {
    background-image: url("images/barkleyzanekiel.jpg");
    height: 850px;
    margin: 0 auto;
}

.bio-text {
  color: #FFFFFF;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 200;
  line-height: 1.75;
  margin: 0 5%;
  padding: 100px 5% 0;
  text-align: center;
}

#lets-rage {
  color: #FFFFFF;
  font-family: 'Titillium Web', sans-serif;
  font-size: 20px;
  font-weight: 200;
  line-height: 1.75;
  margin: 0 auto;
  padding-top: 60px;
  text-align: center;
  /*position: absolute;*/
  /*bottom: 20px;*/
}

/*#music-title {
  color: #0c0c0c;
  background-color: #FFFFFF;
}*/

#music {
  background-image: url("images/easterisland.jpg");
  height: 850px;
  margin: 0;
  text-align: center;
}

#music-spacer {
  height: 100px;
}

#music-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 200px auto;
}

.hidden-tunes, .hidden-tunes-2, .hidden-tunes-3 {
  display: none;
}

.music-text {
  margin-top: 60px;
}

.music-links {
  color: #FFFFFF;
  font-family: 'Titillium Web', sans-serif;
  font-size: 26px;
  margin-top: 20px;
  text-decoration: none;
}

#contact {
  background-color: #FFFFFF;
  padding: 100px 0 100px;
  text-align: center;
  width: 100%;
}

#contact-title {
  color: #0c0c0c;
  background-color: #FFFFFF;
  padding-top: 0;
  padding-bottom: 20px;
}

.contact-text {
  padding: 0 0 0 6%;
  font-size: 20px;
  font-weight: 200;
  line-height: 1.7;
  width: 90%;
}

.contact-links {
  font-weight: 400;
  color: #333333;
  text-decoration: none;
}

.parallax-scrolling {
  margin: 0;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#social-icon-container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 320px;
}

.social-icon {
  margin: 30px 15px;
  width: 60px;
  /*transition-duration: 0.05s;*/
}

.social-icon:hover {
  opacity: 0.8;
  /*transition-duration: 0.05s;*/
}

@media screen and (min-width: 500px) {
    #main-menu {
      height: 50px;
      display: flex;
      margin: 0 auto;
      position: fixed;
      top: 0px;
      width: 100%;
    }

    .montu-logo {
      top: 20vh;
      left: 50%;
      margin-left: -200px;
      width: 400px;
    }

    .music-text {
      margin-top: 20px;
    }

    .social-icon {
      margin: 30px 20px;
      width: 75px;
    }

    /*@keyframes menu-background {
      0% {background-color: #A3ADB8};
      30% {background-color: #83929F};
      60% {background-color: #4E6172};
      90% {background-color: #A3ADB8};
    }*/

}

@media screen and (min-width: 800px) {
  .montu-logo {
    margin-left: -300px;
    width: 600px;
  }

  #main-menu-social {
    display: inline-block;
    padding: 15px;
    position: fixed;
    right: 25px;
    z-index: 1;
  }

  .menu-social-icon {
    margin: 0 5px;
    height: 15px;
    transition-duration:
  }

  .menu-social-icon:hover {
    opacity: 0.5;
    transition-duration: 0.25s.
  }

  .bio-text{
    margin: 0 15%;
    font-size: 20px;
  }

  #lets-rage {
    font-size: 24px;
    padding-top: 100px;
    position: static;
  }

  .hidden-tunes {
    display: inline-block;
  }

  social-icon-container {
    width: 600px;
  }
}

@media screen and (min-width: 1000px) {
  .hidden-tunes-2 {
    display: inline-block;
  }
}

@media screen and (min-width: 1100px) {
  .menu-links {
    padding: 15px 2.5%;
  }


@media screen and (min-width: 1300px) {
  #tour, #bio, #music {
    height: 1000px;
  }

  #contact {
    height: 650px;
  }

  #contact-title {
    padding-bottom: 175px;
  }

  #music-spacer {
    height: 200px;
  }

  .bio-text {
    padding-top: 200px;
  }

  .menu-links {
    padding: 15px 2.5%;
  }

  .hidden-tunes-3 {
    display: inline-block;
  }
}
