html, body {
  margin: 0;
}

body {
  background-color: #333333;
  color: #FFFFFF;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 200;
}

#page-wrapper {
  max-width: 1300px;
  margin: 0 auto;
}

#spacer {
  height: 73vh;
}

#logo {
  width: 320px;
  left: 50%;
  margin-left: -160px;
  position: absolute;
  top: 15%;
}

#buttons {
  display: flex;
  margin-bottom: 1vh;
  justify-content: space-between;
}

.button {
  align-items: center;
  background-color: transparent;
  border: 1px #FFFFFF solid;
  display: flex;
  color: #FFFFFF;
  font-weight: 200;
  font-size: 24px;
  height: 12vh;
  margin: 0 5px;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  width: 50%;
}

.button:hover {
  background-color: #444444;
}

br {
  color: #FFFFFF;
}

#schedule {
  padding-top: 100px;
}

#about {
  padding: 100px 0;
  margin: 0 10px;
}

p {
  text-align: center;
  margin: 10px;
  font-weight: 200;
}

#rage {
  margin: 50px auto;
  font-weight: 400;
}

h3 {
  font-weight: 200;
  text-align: center;
  margin: 5px auto;
}

#contact {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-bottom: 100px;
}

.social-icon {
  margin: 20px;
  height: 100px;
  width: 100px;
}

@media screen and (min-width: 600px) {
    #logo {
      top: 0;
      margin-left: -320px;
      width: 640px;
    }

    #schedule {
      margin: 100px auto 0px;
      width: 75%;
    }

    #about {
      line-height: 36px;
      margin: 0 auto;
      width: 75%;
    }

    h3 {
      font-size: 36px;
      margin: 15px auto;
    }

    #members {
      margin-bottom: 50px;
    }

    p {
      font-size: 24px;
    }

    #contact{
      flex-direction: row;
      justify-content: center;
    }

    .social-icon {
      margin: 30px;
      height: 50px;
      width: 50px;
    }
  }
